doctype html
html(lang="en")
	head 
		title Pug title
	body
		include include/_header.pug
		.container#root
			p Pug is a terse and simple templating language with a strong focus on performance and powerful features.
